.f-size-15{
  font-size: 15px;
}
.f-size-18{
  font-size: 18px;
}
.bodyscroll::-webkit-scrollbar {
    display: none;
  }
  .styleScrollBar::-webkit-scrollbar {
    width: 6px;
    overflow-y: scroll !important;
  } 
  .styleScrollBar::-webkit-scrollbar-thumb{
    background-color: rgb(85, 83, 83);
    border-radius: 5px;
  } 
  .styleScrollBar::-webkit-scrollbar-thumb:hover{
    background-color: rgb(53, 51, 51);
  } 